.number-buttons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 2px;
    width: 500px;
    margin: 20px auto;
}

.number-buttons button {
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}

@media only screen and (max-device-width: 1366px) {
    .number-buttons {
        width: 600px;
    }

    .number-buttons button {
        width: 60px;
    }
}